.ItemList {
    margin-left: 20%; 
    border: 2px solid #3f4552;
    height: 100%;

}

.home-div-p {


    background-color: rgb(92, 175, 231);
}
.main-home {
    width: 100%;
    min-width: 600px;
    height: 100%;
    min-height: 100%;
    position: fixed;
}